.app {
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #c4c4c4;
}

.content {
  flex: 2;
  background-color: #f8f3ed;
  padding: 4rem 5rem;
}

.nav {
  display: block;
  flex: 1;
  padding: 7rem 5rem;
  min-width: 150px;
}

.nav ul {
  padding: 0;
  list-style-type: none;
}

.nav li {
  margin: 10px;
}

.nav a {
  text-decoration: none;
}

.nav a,
.nav a:visited {
  color: #111;
}

.nav a.active,
.nav a.active:visited {
  color: #b53a1b;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .app {
    flex-direction: column;
  }
  .nav {
    padding: 0;
  }

  .nav li {
    display: inline-block;
    padding: 0;
  }

  .content {
    padding: 0;
  }
}