.card {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.cardContent {
  flex: 4;
  border-radius: 4px;
  text-align: center;
}

.cardNext {
  /* flex: 1; */
  text-align: center;
  /* border: 1px solid #e2af2c; */
  margin: 2rem;
  padding: 0.8rem;
  font-size: 1.5rem;
}

.cardButtonPrev {
  margin: 2rem;
  padding: 1rem;
  background-image: url('/icons/left arrow.png');
  background-color: #f0c326;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border: 0;
  border-radius: 4px;
}

.cardButtonNext {
  margin: 2rem;
  padding: 1rem;
  background-image: url('/icons/right arrow.png');
  background-color: #f0c326;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border: 0;
  border-radius: 4px;
}

.blackfootWord {
  font-size: 3rem;
  color: #b53a1b;
  padding: 3rem;
  text-align: center;
}

.englishWord {
  color: #b53a1b;
}

.audioControls {
  padding: 2rem 0;
}
