html {
  font-size: 62.5%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  color: #111;
  background-color: #F8F3ED;
}

body {
  font-size: 2rem;
}
